@charset "utf-8";

@mb-color:#444;
@mf-color:#fff;
@df-color:#333;
@ml-color:gold;

@import url("eui-gray.less");
@import url("eui-icon.less");
@import url("font-awesome.less");
@import url("pub.less");

/*@group reset*/
	iframe,body,header,footer,menu,div,dl,dt,dd,ul,ol,li,p,h1,h2,h3,h4,h5,input,button,blockquote,textarea,article,aside,details,figcaption,figure,hgroup,nav,section,a{margin:0;padding:0;}
	header,footer,article,section,nav,menu{display:block;clear:both;}
	html{height: 100%;background-color: #fff;border:none;}
	body{height: 100%;background-color: #fff;font-size: 12px;color:#333;font-family:"Microsoft YaHei",Arial, Helvetica, sans-serif;overflow-x:hidden; }
	ul,ol,li{list-style:none;}
	button,input,select,textarea,a{outline:none;}
    a{color:#333;}
	a,a:link,a:visited,a:hover,a:focus,a:active{outline:none;text-decoration:none;cursor:pointer;}
	img{border:0;-ms-interpolation-mode:bicubic;}
	em{font-style:normal;}
	u{text-decoration:none;}
	q{quotes:none;}
	del{color:#a3a3a3;}
	textarea{resize:none;}
	button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;}
	table{border-collapse:collapse;border-spacing:0;}
	input::-ms-clear,::-ms-reveal{display:none;}
	input[type=radio],input[type=checkbox]{padding: 5px;vertical-align: -2px;}
    iframe{border:none;}
/*@end*/

/*@group base-extend*/
	.clear{clear:both;}
	.clearfix:before,.clearfix:after{content:" ";display: table;}
	.clearfix:after{clear:both;font-size:0;height:0;visibility:hidden;zoom:1;}
	.zone{zoom:1;}
	.fl{float:left;}
	.fr{float:right;}
	.ellipsis{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
	.break{word-break:break-all;word-wrap:break-word;}
	.letter-sp1{letter-spacing:1px;}
	textarea {width: 98%;padding:2px;margin:5px 0;text-align:left;line-height:20px;border:1px solid #ccc;}
	button{font-size: 10pt;}
	.mt10{margin-top:10px!important;}
	.mt15{margin-top:15px!important;}
    .mt20{margin-top:20px!important;}
    .mt30{margin-top:30px!important;}
    .mt40{margin-top:40px!important;}
    .mb10{margin-bottom:10px!important;}
	.mb15{margin-bottom:15px!important;}
	.mb20{margin-bottom:20px!important;}
	.ml15{margin-left:15px!important;}
	.mr15{margin-right:15px!important;}
	.pd5{padding:5px!important;}
	.pd10{padding:10px!important;}
	.pt5{padding-top:5px!important;}
	.pt10{padding-top:10px!important;}
    .pt40{padding-top:40px!important;}
	.pb10{padding-bottom:10px!important;}
	.pl5{padding-left:5px!important;}
	.pl10{padding-left:10px!important;}
	.pl15{padding-left:15px!important;}
	.pl20{padding-left:20px!important;}
	.pl30{padding-left:20px!important;}
	.pr5{padding-right:5px!important;}
	.pr10{padding-right:10px!important;}
	.pr15{padding-right:15px!important;}
	.pr20{padding-right:20px!important;}
	.yahei{font-family:"Microsoft YaHei",monospace, Arial, Helvetica, sans-serif;}
	.fs12{font-size:12px;}
	.fs13{font-size:13px;}
	.fs14{font-size:14px;}
	.fs15{font-size:15px;}
	.fs16{font-size:16px;}
    .fs18{font-size:16px;}
    .fs20{font-size:16px;}
    .fs22{font-size:16px;}
    .fs24{font-size:16px;}
	.bdrs{border-radius:3px;}
	.box-shadow{box-shadow:3px 3px 3px #333;}
	.gray-grad{background:linear-gradient(#f5f5f5, #e3e3e3);-pie-background:linear-gradient(#f5f5f5, #e3e3e3);}
	.height-100{height: 100%;}
	.tb-border-b,.tb-border-b td{border: 1px solid #7BAFE3;}
	.tb-border-g,.tb-border-g td{border: 1px solid #bfbfc1;}
	.overhide{overflow:hidden!important;}
	.over-yh{overflow-y: hidden;}
	.over-xv{overflow-x: visible;}
	.over-ys{overflow-y: scroll;}
	.vam{vertical-align: middle;}
	.vat{vertical-align: top;}
	.underline{text-decoration:underline;}
	.bold{font-weight:bold;}
	.white,.fff{color:#fff;}
	.red{color:red;}
	.silver{color:silver}
	.gray{color: gray;}
	.orange{color:orange;}
	.olivedrab{color:olivedrab;}
	.lakeblue{color:#30acc8;}
	.steelblue{color:steelblue}
	.linkblue{color:#265EA9!important;}
	.fff{color:#fff}
	.e33{color:#e33}
	.o6c{color:#06c}
	.bgsteelblue{background-color:steelblue}
	.bglakeblue{background-color:#30acc8}
	.bgolivedrab{background-color:olivedrab}
	.bgsilver{background-color:silver}
	.bggray{background-color:gray}
	.hide{display:none;}
	.hidePlus{display: none!important;}
	.inline-block{display:inline-block;}
	.inline{display:inline;}
	.block{display:block;}
	.table{display: table;}
	.table-row{display: table-row;}
	.table-cell{display: table-cell;}
	.hidden {visibility:hidden;}
	.tcenter{text-align: center;}
	.tleft{text-align:left;}
	.tindent{text-indent:2em;}
	.w240px{width:240px;}
	.w320px{width:320px;}
	.w360px{width:360px;}
	.w100{width:100%;}
	.pr{position: relative;}
	.lineheight-plus{line-height:60px;}
	.no-border{border: none;}
/*@end*/


/* @group paging */
.paging{
	padding:15px 15px 10px 0;
	overflow:hidden;
	text-align: center;
}
.paging.bottom{
	padding-bottom:0;
	position:absolute;
	bottom:10px;
	left: 0;
}
.paging div{
	font-size: 12px;
	display: inline-block;
}
.paging div a {
	text-decoration: none;
	border: solid 1px #ABC5E0;
	color: #15B;
}
.paging div a,
.paging div span {
	display: block;
	float: left;
	padding: 0.3em 0.5em;
	margin-right: 5px;
	margin-bottom: 5px;
	min-width:1em;
	text-align:center;
}

.paging div .current {
	background: #26B;
	color: #fff;
	border: solid 1px #ABC5E0;
}

.paging div .current.prev,
.paging div .current.next{
	color:#ABC5E0;
	border-color:#ccc;
	background:#fff;
}
/* @end paging*/


/*@group 公用组件*/
#current-position{
	height: 32px;
	line-height: 32px;
	border-bottom: 0px dotted #abc5e0;
	/*color: steelblue;*/
	font-size: 13px;
	color:#666;
	padding-left: 5px;
}
.new-color-bar{
	height: 30px;
	line-height: 30px;
	text-indent: 1em;
	overflow:hidden;
	background-color: lighten(@mb-color,10%);
	position:relative;
}
.ui-btn{
    display: inline-block;
    box-sizing: border-box;
    padding: 0 10px;
    line-height: 24px;
    min-width: 50px;
    font-size: 12px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #bbb;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background: linear-gradient(to bottom,#ffffff 0,#e1e1e1 100%);
    white-space: pre;
    letter-spacing: 1px;
    cursor: pointer;
}
.ui-btn:hover{
    background: linear-gradient(to bottom,#f5f5f5 0,#dfdfdf 100%);
    border: 1px solid #bbb;
}
.ui-btn-dark{
    background-color: @mb-color;
    color:@mf-color;
}
/*@end 总体布局*/


/*@group animate*/
    @keyframes heartbeat {
        0%{transform:scale(1); }
        50%{transform:scale(1,1.3); }
        100%{transform:scale(1); }
    }
    @keyframes fadeInUp {
        0%{opacity:1; }
        50%{opacity:.1; }
        100%{opacity:1; }
    }
/*@end*/

/*@ jquery.autocomplete */
    .ac_results {
        padding: 0px;
        border: 1px solid black;
        background-color: white;
        overflow: hidden;
        z-index: 99999;
    }

    .ac_results ul {
        width: 100%;
        list-style-position: outside;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .ac_results li {
        margin: 0px;
        padding: 2px 5px;
        cursor: default;
        display: block;
        /*
        if width will be 100% horizontal scrollbar will apear
        when scroll mode will be used
        */
        /*width: 100%;*/
        font: menu;
        font-size: 12px;
        /*
        it is very important, if line-height not setted or setted
        in relative units scroll will be broken in firefox
        */
        line-height: 16px;
        overflow: hidden;
    }

    .ac_loading {
        /*background: white url('indicator.gif') right center no-repeat;*/
    }

    .ac_odd {
        background-color: white;
    }

    .ac_over {
        background-color: #0A246A;
        color: white;
    }

/* @end*/


/* @group jQuery UI Button 1.10.0*/

.ui-button {
  cursor: pointer;
  display: inline-block;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  /*padding: 5px 14px 6px;*/
  padding: 3px 14px 4px;
  margin: 0;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333;
  font-size: 13px;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.1s linear background-image;
  -moz-transition: 0.1s linear background-image;
  -ms-transition: 0.1s linear background-image;
  -o-transition: 0.1s linear background-image;
  transition: 0.1s linear background-image;
  overflow: visible;
} /* the overflow property removes extra width in IE */

.ui-button-primary {
  color: #ffffff;
  background-color: #0064cd;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
  background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
  background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
  background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
  background-image: -o-linear-gradient(top, #049cdb, #0064cd);
  background-image: linear-gradient(top, #049cdb, #0064cd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #0064cd #0064cd #003f81;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}


.ui-button-success{
  color:#ffffff;
  background-color: #57a957;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -ms-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(top, #62c462, #57a957);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #57a957 #57a957 #3d773d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.ui-button-error{
  color:#ffffff;
  background-color: #c43c35;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(top, #ee5f5b, #c43c35);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #c43c35 #c43c35 #882a25;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.ui-button-icon-only { width: 2.2em; } /* to make room for the icon, a width needs to be set here */
button.ui-button-icon-only { } /* button elements seem to need a little more width */
.ui-button-icons-only { width: 3.4em; }
button.ui-button-icons-only { width: 3.7em; }

/*button text element */

.ui-button .ui-button-text { display: block;   }
.ui-button-text-only .ui-button-text {  }
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text { padding: .4em; text-indent: -9999999px; /*tempfix*/ display:none;}
.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .4em 1em .4em 2.1em; }
.ui-button-text-icon-secondary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .4em 2.1em .4em 1em; }
.ui-button-text-icons .ui-button-text { padding-left: 2.1em; padding-right: 2.1em; }
/* no icon support for input elements, provide padding by default */
/* input.ui-button { padding: .4em 1em; } */

/*button icon element(s) */
.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon { top: 50%; margin-top:-3px; margin-bottom:3px; }
.ui-button-icon-only .ui-icon { left: 50%; margin-left: -8px; }
.ui-button-text-icon-primary .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary { left: .5em; }
.ui-button-text-icon-secondary .ui-button-icon-secondary, .ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary { right: .5em; }
.ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary { right: .5em; }

/*button sets*/


.ui-buttonset { margin-right: 7px; }
.ui-buttonset .ui-state-active {
  color: #ffffff;
  background-color: #0064cd;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
  background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
  background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
  background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
  background-image: -o-linear-gradient(top, #049cdb, #0064cd);
  background-image: linear-gradient(top, #049cdb, #0064cd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #0064cd #0064cd #003f81;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.ui-buttonset .ui-button { margin-left: 0; margin-right: -.4em; }

/* workarounds */
button.ui-button::-moz-focus-inner { border: 0; padding: 0; } /* reset extra padding in Firefox */

/* @end*/
