<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hisign.imms.persist.mapper.basic.modstate.ModStateMapper" >

    <select id="findModState" resultType="com.hisign.imms.model.basic.modstate.ModState">
        select
        id
        from imp_sql
    </select>

</mapper>