<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hisign.system.users.dao.SysUserMapper" >
  <resultMap id="BaseResultMap" type="com.hisign.model.SysUser" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="USER_PWD" property="userPwd" jdbcType="VARCHAR" />
    <result column="TRUE_NAME" property="trueName" jdbcType="VARCHAR" />
    <result column="POLICE_ID" property="policeId" jdbcType="VARCHAR" />
    <result column="CARD_ID" property="cardId" jdbcType="VARCHAR" />
    <result column="USER_TEL" property="userTel" jdbcType="VARCHAR" />
    <result column="USER_UNIT" property="userUnit" jdbcType="VARCHAR" />
    <result column="OPEN_FLAG" property="openFlag" jdbcType="VARCHAR" />
    <result column="USER_LEVEL" property="userLevel" jdbcType="VARCHAR" />
    <result column="DEFAULT_MODULE" property="defaultModule" jdbcType="VARCHAR" />
    <result column="IP_FLAG" property="ipFlag" jdbcType="VARCHAR" />
    <result column="IP_ADDRESS" property="ipAddress" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="DELETE_FLAG" property="deleteFlag" jdbcType="CHAR" />
    <result column="TRANSFER_TIME" property="transferTime" jdbcType="DATE" typeHandler="com.hisign.DateToStringTypeHandler" />
    <result column="CREATE_UNIT" property="createUnit" jdbcType="VARCHAR" />
    <result column="CREATE_UNIT_CN" property="createUnitCn" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="DATE" typeHandler="com.hisign.DateToStringTypeHandler" />
    <result column="CREATE_USER_ID" property="createUserId" jdbcType="VARCHAR" />
    <result column="CREATE_USER_NAME" property="createUserName" jdbcType="VARCHAR" />
    <result column="MODIFY_DATE" property="modifyDate" jdbcType="DATE" typeHandler="com.hisign.DateToStringTypeHandler" />
    <result column="MODIFY_USER_ID" property="modifyUserId" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_NAME" property="modifyUserName" jdbcType="VARCHAR" />
    <result column="REV1" property="rev1" jdbcType="VARCHAR" />
    <result column="REV2" property="rev2" jdbcType="VARCHAR" />
    <result column="REV3" property="rev3" jdbcType="VARCHAR" />
    <result column="REV4" property="rev4" jdbcType="VARCHAR" />
    <result column="REV5" property="rev5" jdbcType="VARCHAR" />
    <result column="REV6" property="rev6" jdbcType="VARCHAR" />
    <result column="REV7" property="rev7" jdbcType="VARCHAR" />
    <result column="REV8" property="rev8" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, USER_NAME, USER_PWD, TRUE_NAME, POLICE_ID, CARD_ID, USER_TEL, USER_UNIT, OPEN_FLAG,
    USER_LEVEL, DEFAULT_MODULE, IP_FLAG, IP_ADDRESS, REMARK, DELETE_FLAG, TRANSFER_TIME,
    CREATE_UNIT, CREATE_UNIT_CN, CREATE_DATE, CREATE_USER_ID, CREATE_USER_NAME, MODIFY_DATE,
    MODIFY_USER_ID, MODIFY_USER_NAME, REV1, REV2, REV3, REV4, REV5, REV6, REV7, REV8
  </sql>
  <sql id="ForCount" >
    count(1)
  </sql>
  <sql id="select_By_Filter_For_Where" >
    <where >
		<if test="userName != null and userName != ''" >
			and USER_NAME = #{userName,jdbcType=VARCHAR}
		</if>
		<if test="userPwd != null and userPwd != ''" >
	        and USER_PWD = #{userPwd,jdbcType=VARCHAR}
	    </if>
	    <if test="trueName != null and trueName != ''" >
	        and TRUE_NAME = #{trueName,jdbcType=VARCHAR}
	    </if>
  	</where>
  </sql>
  <!--<sql id="order_By_String" >-->
	<!--<if test="orderByString != null and orderByString != ''">-->
		<!--${orderByString}-->
	<!--</if>-->
  <!--</sql>-->
  <!--<sql id="OraclePagePrefix_head1" >-->
      <!--select all_.*-->
  <!--</sql>-->
  <!--<sql id="OraclePagePrefix_head2" >-->
      <!--from ( select row_.*, rownum rownum_ from (-->
  <!--</sql>-->
  <!--<sql id="OraclePageSuffix" >-->
     <!--<![CDATA[ ) row_ where rownum <= #{endNum} ) all_ where rownum_ > #{startNum} ]]>-->
  <!--</sql>-->

  <select id="findSysUserListByFilter" parameterType="com.hisign.model.SysUser" resultMap="BaseResultMap">
    select from_user_to_roleNames(id) as roleNameString,
    <include refid="Base_Column_List" />
    from SYS_USER
    <include refid="select_By_Filter_For_Where" />
	<!--<include refid="order_By_String" />-->
    <!--<include refid="OraclePageSuffix" />-->
  </select>

  <select id="findSysUserListByFilterForCount" parameterType="com.hisign.model.SysUser" resultType="java.lang.Integer">
    select
    <include refid="ForCount" />
    from SYS_USER
    <include refid="select_By_Filter_For_Where" />
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from SYS_USER
    where ID = #{id,jdbcType=VARCHAR}
  </select>

  <select id="findSysUserByUserName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from SYS_USER
    where USER_NAME = #{userName,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from SYS_USER
    where ID = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.hisign.model.SysUser" >
    <selectKey resultType="java.lang.String" keyProperty="id" order="BEFORE" >
      select sys_guid() from dual
    </selectKey>
    insert into SYS_USER (ID, USER_NAME, USER_PWD,
      TRUE_NAME, POLICE_ID, CARD_ID,
      USER_TEL, USER_UNIT, OPEN_FLAG,
      USER_LEVEL, DEFAULT_MODULE, IP_FLAG,
      IP_ADDRESS, REMARK, DELETE_FLAG,
      TRANSFER_TIME, CREATE_UNIT,
      CREATE_UNIT_CN, CREATE_DATE,
      CREATE_USER_ID, CREATE_USER_NAME, MODIFY_DATE,
      MODIFY_USER_ID, MODIFY_USER_NAME, REV1,
      REV2, REV3, REV4, REV5,
      REV6, REV7, REV8)
    values (#{id,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{userPwd,jdbcType=VARCHAR},
      #{trueName,jdbcType=VARCHAR}, #{policeId,jdbcType=VARCHAR}, #{cardId,jdbcType=VARCHAR},
      #{userTel,jdbcType=VARCHAR}, #{userUnit,jdbcType=VARCHAR}, #{openFlag,jdbcType=VARCHAR},
      #{userLevel,jdbcType=VARCHAR}, #{defaultModule,jdbcType=VARCHAR}, #{ipFlag,jdbcType=VARCHAR},
      #{ipAddress,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{deleteFlag,jdbcType=CHAR},
      #{transferTime,jdbcType=DATE,typeHandler=com.hisign.DateToStringTypeHandler}, #{createUnit,jdbcType=VARCHAR},
      #{createUnitCn,jdbcType=VARCHAR}, #{createDate,jdbcType=DATE,typeHandler=com.hisign.DateToStringTypeHandler},
      #{createUserId,jdbcType=VARCHAR}, #{createUserName,jdbcType=VARCHAR}, #{modifyDate,jdbcType=DATE,typeHandler=com.hisign.DateToStringTypeHandler},
      #{modifyUserId,jdbcType=VARCHAR}, #{modifyUserName,jdbcType=VARCHAR}, #{rev1,jdbcType=VARCHAR},
      #{rev2,jdbcType=VARCHAR}, #{rev3,jdbcType=VARCHAR}, #{rev4,jdbcType=VARCHAR}, #{rev5,jdbcType=VARCHAR},
      #{rev6,jdbcType=VARCHAR}, #{rev7,jdbcType=VARCHAR}, #{rev8,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hisign.model.SysUser" >
    <selectKey resultType="java.lang.String" keyProperty="id" order="BEFORE" >
      select sys_guid() from dual
    </selectKey>
    insert into SYS_USER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      ID,
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="userPwd != null" >
        USER_PWD,
      </if>
      <if test="trueName != null" >
        TRUE_NAME,
      </if>
      <if test="policeId != null" >
        POLICE_ID,
      </if>
      <if test="cardId != null" >
        CARD_ID,
      </if>
      <if test="userTel != null" >
        USER_TEL,
      </if>
      <if test="userUnit != null" >
        USER_UNIT,
      </if>
      <if test="openFlag != null" >
        OPEN_FLAG,
      </if>
      <if test="userLevel != null" >
        USER_LEVEL,
      </if>
      <if test="defaultModule != null" >
        DEFAULT_MODULE,
      </if>
      <if test="ipFlag != null" >
        IP_FLAG,
      </if>
      <if test="ipAddress != null" >
        IP_ADDRESS,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="deleteFlag != null" >
        DELETE_FLAG,
      </if>
      <if test="transferTime != null" >
        TRANSFER_TIME,
      </if>
      <if test="createUnit != null" >
        CREATE_UNIT,
      </if>
      <if test="createUnitCn != null" >
        CREATE_UNIT_CN,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="createUserId != null" >
        CREATE_USER_ID,
      </if>
      <if test="createUserName != null" >
        CREATE_USER_NAME,
      </if>
      <if test="modifyDate != null" >
        MODIFY_DATE,
      </if>
      <if test="modifyUserId != null" >
        MODIFY_USER_ID,
      </if>
      <if test="modifyUserName != null" >
        MODIFY_USER_NAME,
      </if>
      <if test="rev1 != null" >
        REV1,
      </if>
      <if test="rev2 != null" >
        REV2,
      </if>
      <if test="rev3 != null" >
        REV3,
      </if>
      <if test="rev4 != null" >
        REV4,
      </if>
      <if test="rev5 != null" >
        REV5,
      </if>
      <if test="rev6 != null" >
        REV6,
      </if>
      <if test="rev7 != null" >
        REV7,
      </if>
      <if test="rev8 != null" >
        REV8,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=VARCHAR},
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null" >
        #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="trueName != null" >
        #{trueName,jdbcType=VARCHAR},
      </if>
      <if test="policeId != null" >
        #{policeId,jdbcType=VARCHAR},
      </if>
      <if test="cardId != null" >
        #{cardId,jdbcType=VARCHAR},
      </if>
      <if test="userTel != null" >
        #{userTel,jdbcType=VARCHAR},
      </if>
      <if test="userUnit != null" >
        #{userUnit,jdbcType=VARCHAR},
      </if>
      <if test="openFlag != null" >
        #{openFlag,jdbcType=VARCHAR},
      </if>
      <if test="userLevel != null" >
        #{userLevel,jdbcType=VARCHAR},
      </if>
      <if test="defaultModule != null" >
        #{defaultModule,jdbcType=VARCHAR},
      </if>
      <if test="ipFlag != null" >
        #{ipFlag,jdbcType=VARCHAR},
      </if>
      <if test="ipAddress != null" >
        #{ipAddress,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=CHAR},
      </if>
      <if test="transferTime != null" >
        #{transferTime,jdbcType=DATE,typeHandler=com.hisign.DateToStringTypeHandler},
      </if>
      <if test="createUnit != null" >
        #{createUnit,jdbcType=VARCHAR},
      </if>
      <if test="createUnitCn != null" >
        #{createUnitCn,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=DATE,typeHandler=com.hisign.DateToStringTypeHandler},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null" >
        #{modifyDate,jdbcType=DATE,typeHandler=com.hisign.DateToStringTypeHandler},
      </if>
      <if test="modifyUserId != null" >
        #{modifyUserId,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserName != null" >
        #{modifyUserName,jdbcType=VARCHAR},
      </if>
      <if test="rev1 != null" >
        #{rev1,jdbcType=VARCHAR},
      </if>
      <if test="rev2 != null" >
        #{rev2,jdbcType=VARCHAR},
      </if>
      <if test="rev3 != null" >
        #{rev3,jdbcType=VARCHAR},
      </if>
      <if test="rev4 != null" >
        #{rev4,jdbcType=VARCHAR},
      </if>
      <if test="rev5 != null" >
        #{rev5,jdbcType=VARCHAR},
      </if>
      <if test="rev6 != null" >
        #{rev6,jdbcType=VARCHAR},
      </if>
      <if test="rev7 != null" >
        #{rev7,jdbcType=VARCHAR},
      </if>
      <if test="rev8 != null" >
        #{rev8,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hisign.model.SysUser" >
    update SYS_USER
    <set >
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null" >
        USER_PWD = #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="trueName != null" >
        TRUE_NAME = #{trueName,jdbcType=VARCHAR},
      </if>
      <if test="policeId != null" >
        POLICE_ID = #{policeId,jdbcType=VARCHAR},
      </if>
      <if test="cardId != null" >
        CARD_ID = #{cardId,jdbcType=VARCHAR},
      </if>
      <if test="userTel != null" >
        USER_TEL = #{userTel,jdbcType=VARCHAR},
      </if>
      <if test="userUnit != null" >
        USER_UNIT = #{userUnit,jdbcType=VARCHAR},
      </if>
      <if test="openFlag != null" >
        OPEN_FLAG = #{openFlag,jdbcType=VARCHAR},
      </if>
      <if test="userLevel != null" >
        USER_LEVEL = #{userLevel,jdbcType=VARCHAR},
      </if>
      <if test="defaultModule != null" >
        DEFAULT_MODULE = #{defaultModule,jdbcType=VARCHAR},
      </if>
      <if test="ipFlag != null" >
        IP_FLAG = #{ipFlag,jdbcType=VARCHAR},
      </if>
      <if test="ipAddress != null" >
        IP_ADDRESS = #{ipAddress,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        DELETE_FLAG = #{deleteFlag,jdbcType=CHAR},
      </if>
      <if test="transferTime != null" >
        TRANSFER_TIME = #{transferTime,jdbcType=DATE,typeHandler=com.hisign.DateToStringTypeHandler},
      </if>
      <if test="createUnit != null" >
        CREATE_UNIT = #{createUnit,jdbcType=VARCHAR},
      </if>
      <if test="createUnitCn != null" >
        CREATE_UNIT_CN = #{createUnitCn,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=DATE,typeHandler=com.hisign.DateToStringTypeHandler},
      </if>
      <if test="createUserId != null" >
        CREATE_USER_ID = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createUserName != null" >
        CREATE_USER_NAME = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null" >
        MODIFY_DATE = #{modifyDate,jdbcType=DATE,typeHandler=com.hisign.DateToStringTypeHandler},
      </if>
      <if test="modifyUserId != null" >
        MODIFY_USER_ID = #{modifyUserId,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserName != null" >
        MODIFY_USER_NAME = #{modifyUserName,jdbcType=VARCHAR},
      </if>
      <if test="rev1 != null" >
        REV1 = #{rev1,jdbcType=VARCHAR},
      </if>
      <if test="rev2 != null" >
        REV2 = #{rev2,jdbcType=VARCHAR},
      </if>
      <if test="rev3 != null" >
        REV3 = #{rev3,jdbcType=VARCHAR},
      </if>
      <if test="rev4 != null" >
        REV4 = #{rev4,jdbcType=VARCHAR},
      </if>
      <if test="rev5 != null" >
        REV5 = #{rev5,jdbcType=VARCHAR},
      </if>
      <if test="rev6 != null" >
        REV6 = #{rev6,jdbcType=VARCHAR},
      </if>
      <if test="rev7 != null" >
        REV7 = #{rev7,jdbcType=VARCHAR},
      </if>
      <if test="rev8 != null" >
        REV8 = #{rev8,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hisign.model.SysUser" >
    update SYS_USER
    set USER_NAME = #{userName,jdbcType=VARCHAR},
      USER_PWD = #{userPwd,jdbcType=VARCHAR},
      TRUE_NAME = #{trueName,jdbcType=VARCHAR},
      POLICE_ID = #{policeId,jdbcType=VARCHAR},
      CARD_ID = #{cardId,jdbcType=VARCHAR},
      USER_TEL = #{userTel,jdbcType=VARCHAR},
      USER_UNIT = #{userUnit,jdbcType=VARCHAR},
      OPEN_FLAG = #{openFlag,jdbcType=VARCHAR},
      USER_LEVEL = #{userLevel,jdbcType=VARCHAR},
      DEFAULT_MODULE = #{defaultModule,jdbcType=VARCHAR},
      IP_FLAG = #{ipFlag,jdbcType=VARCHAR},
      IP_ADDRESS = #{ipAddress,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      DELETE_FLAG = #{deleteFlag,jdbcType=CHAR},
      TRANSFER_TIME = #{transferTime,jdbcType=DATE,typeHandler=com.hisign.DateToStringTypeHandler},
      CREATE_UNIT = #{createUnit,jdbcType=VARCHAR},
      CREATE_UNIT_CN = #{createUnitCn,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=DATE,typeHandler=com.hisign.DateToStringTypeHandler},
      CREATE_USER_ID = #{createUserId,jdbcType=VARCHAR},
      CREATE_USER_NAME = #{createUserName,jdbcType=VARCHAR},
      MODIFY_DATE = #{modifyDate,jdbcType=DATE,typeHandler=com.hisign.DateToStringTypeHandler},
      MODIFY_USER_ID = #{modifyUserId,jdbcType=VARCHAR},
      MODIFY_USER_NAME = #{modifyUserName,jdbcType=VARCHAR},
      REV1 = #{rev1,jdbcType=VARCHAR},
      REV2 = #{rev2,jdbcType=VARCHAR},
      REV3 = #{rev3,jdbcType=VARCHAR},
      REV4 = #{rev4,jdbcType=VARCHAR},
      REV5 = #{rev5,jdbcType=VARCHAR},
      REV6 = #{rev6,jdbcType=VARCHAR},
      REV7 = #{rev7,jdbcType=VARCHAR},
      REV8 = #{rev8,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <select id="loginByUserPwd" resultMap="BaseResultMap" parameterType="com.hisign.model.SysUser" >
    select
    get_dictValue_by_dictKey('','GXSDM',USER_UNIT) as userUnitZh ,
    <include refid="Base_Column_List" />

    from SYS_USER
    where USER_NAME = #{userName,jdbcType=VARCHAR} and USER_PWD= #{userPwd,jdbcType=CHAR} and OPEN_FLAG = '1'
  </select>

  <select id="findSysUserByPoliceId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from SYS_USER
    where POLICE_ID = #{policeId,jdbcType=VARCHAR}
  </select>

  <select id="findSysUserPerssminsStr" resultType="java.lang.String" parameterType="java.lang.String" >
   select r.res_string
	from sys_user_role ur ,sys_role_permis rp,sys_permis_res pr,sys_resource r
	where 1=1
	and ur.role_id=rp.role_id
	and rp.permission_id=pr.permission_id
	and pr.resource_id=r.id
	and ur.user_id=#{userId,jdbcType=VARCHAR}
  </select>

</mapper>