<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <script src="../dist/js/boot.js"></script>
    <link rel="stylesheet" href="../dist/css/base.css?version=1.0">
    <link rel="stylesheet" href="../dist/css/demo2.css?version=1.0">
</head>

<body>
    <h2>DEMO Classic</h2>
    <input type="text" id="addr" placeholder="尝试输入1或2或3">
    <input type="text" class="dates" placeholder="开始日期">
    <input type="text" class="dates" placeholder="结束日期">
    <ul id="base-tree" class="ztree"></ul>
</body>

<script src="../dist/js/base.js?version=1.0"></script>
<script src="../dist/js/demo2.js?version=1.0"></script>

</html>