<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>evan's simple-template </title>
    <link rel="stylesheet" href="../dist/css/base.css"/>
    <link rel="stylesheet" href="../dist/css/feed-back.css"/>
</head>
<body>


<h1>用户反馈</h1>
<input type="text" id="addr" value="./reports-index.html"/>
<button id="btn-open"  class="easyui-linkbutton" data-options="iconCls:'icon-add'">用模态窗打开页面</button>
<button id="btn-open2" class="easyui-linkbutton" data-options="iconCls:'icon-ok'">在顶层用模态窗打开页面</button>
<button id="btn-open3" class="easyui-linkbutton" data-options="iconCls:'icon-tip'">用新标签打开页面</button>
<button id="btn-open4" class="easyui-linkbutton" data-options="iconCls:'icon-pencil'">打开内部form弹窗</button>
<a href="#" class="easyui-linkbutton" onclick="localStorage.indexAnimation='0'">关闭开场动画</a>
<a href="#" id="test">关闭动画</a>
<!--<button id="btn-open5">顶层打开form弹窗</button>-->

<form action="" id="myform" class="hidden">
    姓名:<input type="text"/><br>
    年龄:<input type="text"/><br>
    电话:<input type="text"/><br>
    地址:<input type="text"/><br>
    工作:<input type="text"/><br>
    性别:<input type="text"/><br>
    <input type="button" value="提交"/><br>
</form>


<table >
    <thead>  <th></th> <th></th> <th></th> </thead>
    <tbody  class="search-result">
    <tr tpsource="#search-result-tp">
    </tbody>
</table>

<div class="mask"></div>
<script type="text/template" id="search-result-tp">

</script>

</body>
<script src="../dist/js/base.js"></script>
<!--<script src="../dist/js/feed-back.js"></script>-->
<style>
    #myform{
        padding: 10px;
        height:320px;
        text-align: center;
    }
    #myform input{
        width:180px;
        height:22px;
        margin: 5px;
    }
    .mask{
        width:100vw;
        height:100vh;
    }
</style>
<script>
    $('#test').linkbutton({
        iconCls:'icon-remove'
    })
    $('#btn-open4').click(function(){
        $open('#myform',{width:640,height:320,top:24});
        //$('#myform').window({width:640,height:320})
    });
//    $('#btn-open5').click(function(){
//        var win=$open('#myform',{width:640,height:320,top:-100});
//        $('.mask').show();
//        win.find('a.panel-tool-close').click(function(){$('.mask').hide();})
//    });
    $('#btn-open').click(function(){
        $open('http://baidu.com',{width:960,height:520});
    });
    $('#btn-open2').click(function(){
        top.$open('http://baidu.com',{width:1160,height:680});
    });
    var index=0;
    var urls=['http://baidu.com','http://126.com','http://taobao.com','http://120.24.167.44/bbs/forum.php','http://114.251.89.17:81/zentao/index.php','http://bing.com'];
    $('#btn-open3').click(function(){
        index++;
        $append(urls[index%6],'关系网络'+index);//byid('addr').value||
    })

</script>
</html>