<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>fst-page</title>
    <link rel="stylesheet" href="../dist/css/base.css">
    <link rel="stylesheet" href="../dist/css/fst-page.css">
</head>
<body>
    <div id="map-ct" style="height:100%"></div>
    <div id="pie-ct" style="height:300px;width:450px;position: absolute;top:10px;left:10px;"></div>
    <div id="bar-ct" style="height:300px;width:400px;position: absolute;bottom:0%;right:0px;"></div>
    <script src="../dist/js/base.js"></script>
    <script src="../dist/js/fst-page.js"></script>
    <script>


    </script>
</body>
</html>