<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>evan's simple-template </title>
    <link rel="stylesheet" href="../dist/css/base.css"/>
    <!--<link rel="stylesheet" href="../dist/css/info-mng.css"/>-->
</head>
<body>
<div id="main">
    <div id="tree-menu">
        <div class="easyui-accordion">
            <div title="实施项目管理" data-options="iconCls:'icon-la',collapsible:false">
            </div>
            <div title="存储过程管理" data-options="iconCls:'icon-la'" style="padding:5px;">
                <ul>
                    <li>项目存储过程</li>
                    <li>工作存储过程</li>
                </ul>
            </div>
            <div title="系统参数管理" data-options="iconCls:'icon-la',collapsible:false">
            </div>
            <div title="系统版本管理" data-options="iconCls:'icon-la',collapsible:false" >
            </div>
            <div title="模块语句管理" data-options="iconCls:'icon-la',collapsible:false" >
            </div>
            <div title="问题共享管理" data-options="iconCls:'icon-la',collapsed:false,collapsible:false" >
            </div>
        </div>
        <p id="toggle-tag">◄</p>
    </div>
    <div id="content">
        <iframe src="http://baidu.com"></iframe>
    </div>
</div>


<script type="text/template" id="search-result-tp">

</script>

</body>
<script src="../dist/js/base.js"></script>
<script>

    $(function(){
        layoutInit();
        $('#tree-menu  .panel-body li').click(function(){
            $('.accordion-header').removeClass('accordion-header-selected');
            $('.panel-body li').removeClass('current-sec-item');
            $(this).addClass('current-sec-item').parents('.panel').find('.accordion-header').addClass('accordion-header-selected');

        });
        if(top._currentItem_){
            $('#tree-menu .panel-title,#tree-menu .panel-body li').each(function(i,v){
                if($(this).html()==top._currentItem_.html()){
                    //alert(this.nodeName)
                    this.nodeName!=='LI'?$(this).parents('.panel-header').click():
                            ($(this).parents('.panel').find('.panel-header .accordion-collapse').click() && $(this).click());
                    //$(this).parents('.panel').find('.panel-header').click();
                }
            });
        }
    })
</script>
<!--<script src="../dist/js/info-mng.js"></script>-->
</html>