<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>evan's simple-template </title>
    <link rel="stylesheet" href="../dist/css/base.css"/>
    <link rel="stylesheet" href="../dist/css/project-watch.css"/>
</head>
<body>

<div id="main">
    <div id="tree-menu">
        <div class="easyui-accordion">
            <div title="数据实时统计" data-options="iconCls:'icon-la',collapsible:false">
            </div>
            <div title="数据实时监控" data-options="iconCls:'icon-la',collapsible:false">
            </div>
            <div title="应用服务监控" data-options="iconCls:'icon-la',collapsible:false">
            </div>
        </div>
        <p id="toggle-tag">◄</p>
    </div>
    <div id="content">
        <iframe src="./feed-back-index.html"></iframe>
    </div>
</div>

<div class="mask"></div>

</body>
<script src="../dist/js/base.js"></script>
<script src="../dist/js/project-watch.js"></script>


<script type="text/template" id="search-result-tp">
</script>

<script>
    $(function(){
        layoutInit();
    })
</script>



</html>