<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>字典控件demo </title>
    <link rel="stylesheet" href="../dist/css/base.css"/>
</head>
<body>
<h1>字典控件Demo</h1>
<hr>
下拉字典
<dict type="select" root="xzqhdm" id="dict1"></dict>
<button onclick="getdictvalue('dict1')">getValue</button>
<button onclick="setdictvalue('dict1','110000')">setValue</button>

<dict type="select" root="QSGTDM" id="dict2" empty="false" return-value="true"></dict>
<dict type="select" root="xbdm" id="dict3" class="dict"></dict>
<dict type="select" root="sfdm" id="dict4" class="dict" return-value="true"></dict>
<button onclick="getdictvalue('dict4')">getValue</button>
<button onclick="setdictvalue('dict4','是')">setValue</button>
<dict type="select" root="sfdm" class="test"></dict>
<hr>
树形字典
<br><br>
<dict type="tree" root="xzqhdm" class="dict5" id="fadd" name="filter.fadd"></dict>
<br>
<button onclick="getdictvalue('fadd')">key</button>
<button onclick="getdictvalue('fadd_displayValue')">value</button>
<br><br>
<dict type="tree" root="ajlbdm" class="dict5" id="fadd2" name="filter.fadd2"></dict>
<br>
<button onclick="getdictvalue('fadd2')">key</button>
<button onclick="getdictvalue('fadd2_displayValue')">value</button>
<br><br>
<dict type="tree" root="gxsdm" class="dict5" id="fadd3" name="filter.fadd3"></dict>
</body>
<script src="../dist/js/base.js"></script>
<script>
    importing('dict',function() {
        $('#dict1').dict().dictSelect('440000');
        $('#dict2').dict();
        $('.dict').dict();//.dictSelect('1');
       // $('#dict4').dict([{key:'111',value:'小王===='},{key:'2222', value:'大王===='}]);//自定义数据,root属性无效
        $('.test').dict();
        $('.dict5').dict();
    });

    function getdictvalue(id){
        var a = $('#'+id).val();
        alert(a);
    }

    function setdictvalue(id, value){
        $('#'+id).dictSelect(value);
    }


</script>

</html>