<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录用户管理</title>
    <link rel="stylesheet" href="../dist/css/base.css">
    <link rel="stylesheet" href="../../dist/css/sys.css"/>
</head>
<body>
<div id="current-position">
    <input type="button" class="add-btn" id="add" value="新 增"/>
</div>
<div class="query-condition mt10">
    <p class="query-condition-p">
        <input id="trueName" type="text" class="query-input w240px" placeholder="用户姓名">
        <input id="userName" type="text" class="query-input w240px" placeholder="用户账号">
        <a class="query-btn" onclick="queryForUser();"> <i class="icon-search"></i>  查 询</a>
        <a class="reset-btn"><i class="icon-refresh"></i>  重 置</a>
    </p>
</div>
<div id="query-result" class="mt20">
    <div class="new-color-bar">
        <span class="title">用户信息列表</span>
    </div>
    <table id="user-table" class="typical-tb" cellpadding="3">
        <thead>
        <th>序号</th>
        <th>用户姓名</th>
        <th>用户账号</th>
        <th>状态</th>
        <th>所属角色</th>
        <th>操作</th>
        </thead>
        <tbody tpsource="#user-list"></tbody>
    </table>
    <div class="paging"></div>
</div>
</body>
<script type="text/template" id="user-list">
    <tr>
        <td>{rownum}</td>
        <td>{trueName}</td>
        <td>{username}</td>
        <td>{openFlag}</td>
        <td>
            <table>
                {{roles:#roles}}
            </table>
        </td>
        <td>
            <a href="javascript:void(0);" onclick="intoUserEdit('{id}');" class="modify" title="修改"></a>
            <a href="javascript:void(0);" onclick="deleteForUser('{id}');" class="delete" title="删除"></a><br>
        </td>
    </tr>
</script>
<script type="text/template" id="roles">
    <tr>
        {roleName},
    </tr>
</script>
<script src="../dist/js/base.js"></script>
<script>
    var userData = [
        {"rownum":"1","trueName":"王恒","userName":"wanghe","openFlag":"启用","roles":[{"roleName":"管理员"},{"roleName":"项目经理"}]},
        {"rownum":"2","trueName":"朱才超","userName":"zhucaichao","openFlag":"启用","roles":[{"roleName":"管理员"},{"roleName":"项目经理"},{"roleName":"部门经理"}]},
        {"rownum":"3","trueName":"王平","userName":"wangping","openFlag":"启用","roles":[{"roleName":"开发人员"}]}
    ];
    $(document).ready(function(){
        $('#add').click(function(){
            window.newwin=$open('./sys-dlyh-add.html',{width:640,height:500});
        });
        $('#query-result').pagingList({
            callback:function(data){
                $template('#user-table tbody',data);
            },
            action:'http://192.168.1.121:8040/api/sys/getDlyhglPage',
            jsonObj:{
                userName:$('#userName').val(),
                trueName:$('#trueName').val(),
                begin:"1",
                end:"15"
            }
        });
        //$template('#user-table tbody',userData);
    });
    function intoUserEdit(id){
        window.newwin=$open('./sys-dlyh-edit.html',{width:740,height:600});
    }
    function queryForUser(){
        $('#query-result').pagingList({
            callback:function(data){
                $template('#user-table tbody',data);
            },
            action:'http://192.168.1.121:8040/api/sys/getDlyhglPage',
            jsonObj:{userName:$('#userName').val(),trueName:$('#trueName').val()}
        });
    }
</script>
</html>